@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Sorteador de Parejas para el Amigo Secreto 2024</h1>

Esta aplicación te permite emparejar, de manera aleatoria, cualquier
cantidad de nombres, siempre que la cantidad sea igual o superior a dos.