body {
  background-color: rgba(0, 0, 100, 0.5);
  font-family: 'Tahoma';
  color: rgb(255, 255, 255);
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

form {
  margin: auto;
  min-width: 300px;
  max-width: 500px;
  padding: 1rem 2rem 1rem 2rem;
  background-color: rgba(100, 100, 0, 0.2);
}

fieldset {
  border: none;
  padding: auto 1rem auto 1rem;
  background-color: rgba(100, 100, 0, 0.2);
}

legend {
  font-weight: bold;
}

label {
  display: block;
  align-items: center;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 50%;
  min-height: 2em;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

textarea {
  margin: 0 0 0.5rem 0;
}

.submit {
  margin: 1rem 0 0 6rem;
}
